ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }
  .buttons { 
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgba(155, 25, 140, 0.617);
    border: 1px solid rgba(71, 3, 63, 0.914);
    color:rgba(155, 25, 140, 0.617);
    cursor:pointer;
    padding: 7px;
    margin-top: 10%;
   margin-left: 20%;
    
 
  }

.socials{
  border:1px solid rgba(79, 2, 102, 0.65);
}

.socials:hover{
  background-color: rgba(155, 25, 140, 0.9);
}



  li {
    float: left;
    width: 25%;
    text-align: center;
    
  }
  
  li a {
    display: block;
    padding: 8px;
    
    background-color: rgba(155, 25, 140, 0.617);
    
  }




  a {
    color: black;
}
a:link {
    text-decoration: none;
    
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
    background-color: rgba(108, 16, 97, 0.617);
    
  }

th {
    border: 1px solid gray;
    padding: 5px;
    width: 25%;
    
}
table{
    border-collapse:collapse;
    width:100%;
    
    
}

td{
    text-align: center;  
}


  .footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(78, 7, 70);
    
    text-align: center;
  }


.p {
    background-color: rgb(78, 7, 70);
    color: white;
}
.p1 {

    font-size: large;
}

.description{
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    

}

.edu {

    height: 500px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    font-size: large;
    line-height: 1.6;
}

pre{
    text-align: left;
    font-size: 15px;
}

.awards{
    padding: 5px;
}

.hobby {
    padding: 20px;
    margin: 20px;
    font-size: large;
    line-height: 1.5;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }